@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.top{
    text-align: center;
}
.top span{
    color : #7e22ce;
}

.container{
    padding-left: 1rem;

}

.center-container{
    max-width: 600px;
    margin: auto;
}