@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* css-variables */
:root{
    --primary-color : #7e22ce; 
    --secondary-color : #3f3d56;
}


body{
    font-family: 'Poppins', sans-serif;
}

hr{
    margin: 2rem 0;
}
.top{
    text-align: center;
}
.top span{
    color : var(--primary-color);
}

/* container */
.container{
    padding-left: 1rem;

}
.center-container{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primaryLink{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.4rem;
}

.secondaryLink{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.4rem;
}

/* lists */
.non-bulleted-list{
    list-style:none ;
}

.inline-list li{
    display: inline;
    padding: 0rem 1rem;
}

/* navbar */
.navbar{
    background-color: var(--primary-color);
    padding: 0.3rem 1rem;
    border-bottom-left-radius: 0.7rem;
}

.nav-brand{
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.nav-lists{
    display: flex;
    justify-content: flex-end;
}
.nav-lists .nav-list{
   list-style: none;
}

.nav-lists .nav-link{
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    font-size: 1.1rem;
}
.nav-lists .link-active{
    font-weight: bold;
}

/* header */
.hero{
    padding: 2rem;
}

.hero .hero-image{
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
}

.hero-heading span{
    color: var(--primary-color);
}

